extends layout

block content
  h1 Venmorld
  div.stats
    div.stats-words
      span Avg : 
      span.avgpermessage 0.00
      span  Max : 
      span.maxpermessage 0
    div.stats-charts
      div#container

  div.current
    div.active
      img.picture
      div.active-text
        div.message
        div.handle
    ul.messages
