extends layout

block content
  h1 Venmorld
  ul.messages
  div.stats
    h3(style='text-decor: underline;') PER MESSAGE
    div
      h3 Avg : 
      h3.avgpermessage 0.00
    div
      h3 Max : 
      h3.maxpermessage 0
    ol.topwords

  div.current
    div.message
    img.picture
